.conteneur_image img{
    height: 400px;
    border-radius: 50%;
    margin-left: 35%;
}
.h2{
    color: brown;
}
.conteneur_h1{
    text-align: center;
    color: red;
}
.conteneur_tableau{
    margin-left: 100px;
}
.conteneur_video{
    border-radius: 20px;
    margin-left: 50px;
}
.footer{
    text-align: right;
}
